/**
 * Created by Mili on 2017/9/21.
 */

.menuList {
  .width(100%);
  .flex();
  .fBox(@dire: column, @justify: flex-start);

  .listItem {
    .width(100%);
    position: relative;

    .menuBox {
      .fBox();
      .height(60px);
      .paddingL(20px);
      box-sizing: border-box;
      cursor: pointer;
      user-select: none;
      background: @menuBC;
      transition: all @time;

      .icon {
        .width(18px);

        &.com {
          display: block;
        }

        &.active {
          display: none;
        }
      }

      .word {
        .flex(1);
        .font(16px, @menuTC);
        .marginL(10px);
      }

      .arrow {
        .width(0px);
        .height(0px);
        .border(6px, transparent);
        border-bottom-width: 0;
        border-top-color: @menuTC;
        position: absolute;
        top: 2.5rem;
        right: 5%;
        transition: all @time;
        transform: translateY(-50%);
        transform-origin: top;

        &.active {
          transform: rotate(180deg);
        }
      }

      &:hover,
      &.active {
        background: @menuHC;

        .icon {
          &.com {
            display: none;
          }

          &.active {
            display: block;
          }
        }

        .word {
          color: @whiteC;
        }
      }

      &.active {
        background: @themeC;
      }
    }
  }

  .subMenu {
    background: @menuSubBC;

    .subListItem {
      .listItem;

      .menuBox {
        .paddingL(30px);
        background: @menuSubBC;
      }
    }
  }
}

// menu 折叠样式
.mainLayout.hideMenu {
  .asideBar {
    .menuList {
      .listItem {
        .menuBox {
          .paddingL(0px);
          .fBox(@justify: center);
        }
      }
    }
  }
}

// menu 折叠 transition
.subMenu-enter,
.subMenu-leave-to {
  transform-origin: top;
  transform: scaleY(0);
}

.subMenu-enter-active,
.subMenu-leave-active {
  transform-origin: top !important;
  transition: transform @time;
}

.subMenu-leave-active {
  position: absolute;
  .width(100%);
}

.asideBarmenu-move {
  transition: transform @time;
}
