/**
 * Created by Mili on 2017/9/20.
 */

.mainLayout {
  .height(100%);
  .minW(1200px);

  .el-col {
    .height(100%);
  }

  .sideBar {
    .height(100%);
    .fBox(@dire: column, @justify: flex-start);
    background: @menuBC;
    overflow-y: auto;

    .logoBox {
      .fBox(@justify: center);
      .height(44px);
      .margin(40px, 0px);
      .borderRa(4px);
      background: fade(@whiteC, 5%);

      .logo {
        .width(24px);
        .marginR(10px);
      }

      .title {
        .font(14px);
      }
    }

    .toggleMenu {
      .width(100%);
      .height(30px);
      .fBox(@dire: column, @justify: center);
      background: fade(@whiteC, 10%);

      .line {
        .width(18px);
        .height(2px);
        .margin(2px, 0px);
        background: @menuTC;
      }
    }
  }

  .rightContainer {
    .height(100%);
    .fBox(@dire: column, @justify: flex-start);
    background: rgba(173, 117, 255, 0.45);

    header {
      .width(100%);
      .height(50px);
      .borderB(@color: #e7ebef);
      .padding(@size1: 0px, @size2: 50px);
      .fBox(@justify: flex-end);
      box-sizing: border-box;
      background: @whiteC;

      .user {
        .font(@size: 16px, @color: @textC1);
        .marginL(5px);
      }

      .icon {
        .width(18px);
        .marginL(18px);
      }
    }

    .content {
      .padding(@size1: 20px, @size2: 50px);
      .width(100%);
      .flex();
      box-sizing: border-box;
      background: @whiteC;
      overflow-y: auto;

      .breadBar {
        .marginB(20px);

        .el-breadcrumb {
          .font(@size: 14px);

          .el-breadcrumb__inner {
            font-weight: normal;
          }
        }
      }
    }
  }
}

.frameContainer {
  .height(100%);
}
